<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="index.css">
</head>
<body>

   <header>
        <div class="container-fluid">
          
            <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img src="" alt="" width="200" height="66">IP tutorials
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="aboutus.html">Courses</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="#">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="casestudy.html">Contact us</a>
                </li>
                
              </ul>
           
            </div>
           
          </div>
          
        </nav>
       
       </div>
       
       
      </header>
      <main>
        <div id="header" style="margin-bottom: 10%;">
          <div id="headertext">Homepage</div>
           </div>
        
   
    
       
            <div class="whatwedo" id="background1" style="background-color: #c5c5c5; margin:1%;padding:1%">
                <div class="left" >
                    <h1 style="font-size:14pt" >About us</h1>
                    <p style="line-height:1.6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                        cursus ante dapibus diam. Sed nisi.
                        Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus
                        sed augue semper porta. Mauris massa.
                        Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. </p>
                   
                </div>
                
                <div class="right" style="text-align: right;" id="box" > </div>
            </div>
      
</div>

            <div style="text-align: center;  padding:1%;padding-bottom:10%;margin-top:10%;background-color: #c5c5c5;">
                    <h1 style="padding-bottom: 2%; text-align:center; margin-left:30px;font-size:14pt"><b>Courses</b></h1>
                    <div class="row">
                        <div class="column">
                          <div id="box2"></div>
                          
                            <h3 style="font-size:10pt;margin-bottom:20px"><b>Name</b></h3>
                           <p>Description</p>
                            <button >More details</button>
                        </div>
                        <div class="column">
                          <div id="box2"></div>
                          
                            <h3 style="font-size:10pt;margin-bottom:20px"><b>Name</b></h3>
                           <p>Description</p>
                            <button >More details</button>
                        </div>
                        <div class="column">
                          <div id="box2"></div>
                          
                            <h3 style="font-size:10pt;margin-bottom:20px"><b>Name</b></h3>
                           <p>Description</p>
                            <button >More details</button>
                        </div>
                        <div class="column">
                          <div id="box2"></div>
                          
                            <h3 style="font-size:10pt;margin-bottom:20px"><b>Name</b></h3>
                           <p>Description</p>
                            <button >More details</button>
                        </div>
                        
                    </div>
                
                </div>
                </section>
            <div style="text-align: center;  padding:1%;padding-bottom:5%;margin-top:5%">
                    <h1 style="padding-bottom: 2%; text-align:left; margin-left:30px;color:#1a6dff;font-size:14pt"><b>Clients</b></h1>
                    <div class="row">
                        <div class="column">
                           <img src="images/ac_logo2.png "  
                             style=" max-width:100%;
max-height:100%;height:auto;margin-bottom:20px" >
                          
                            <h3 style="font-size:10pt;margin-bottom:20px"><b>Air canada</b> </h3>
                           
                            <button class="button2">View more</button>
                        </div>
                        <div class="column">
                            
                           <img src="images/brb_gate_logo2.png " style=" max-width:100%;
max-height:100%;height:auto; background-color: #1a6dff;margin-bottom:20px" >
                          
                               
                            <h3 style="font-size:10pt;margin-bottom:20px" ><b>Brandenburger Tor</b> </h3>
                           
                            <button class="button2">View more</button>
                        </div>
                        
                        <div class="column">
                          <img src="images/Logo_Wiener_Staatsoper.svg.png  "   style=" max-width:100%;
   max-height:100%;height:auto;margin-bottom:20px" >
                             
                                  
                               <h3 style="font-size:10pt;margin-bottom:20px" ><b>Wiener Staatsoper</b></h3>
                           
                               <button class="button2">View more</button>
                           </div>
                           <div class="column">
                            <img src="images/napolean.png  "   style=" max-width:100%;
     max-height:100%;height:auto;margin-bottom:20px" >
                               
                                    
                                 <h3 style="font-size:10pt;margin-bottom:20px" ><b>Napolean</b></h3>
                             
                                 <button class="button2">View more</button>
                             </div>
                    
                    <div class="column">
                      <img src="images/fortis.png  "   style=" max-width:100%;
max-height:100%;height:auto; margin-bottom:20px;margin-bottom:20px" >
                         
                              
                           <h3 style="font-size:10pt;margin-bottom:20px" ><b>Fortis swiss</b></h3>
                       
                           <button class="button2">View more</button>
                       </div>
            
              
        </div>
                
                </div>
                </section>
 
</main>
<footer>
    <div class="row">
      <div class="col-sm-6">
        <div class="footer_links">
          <div class="footer_logo"><img src="images/header_logo.png" class= "flogo" alt="logoimage"></div>
           <div class="footer_socialmedialinks">
              <div class="footer_socialmedialogo"><img src="images/icons8-instagram-64.png" class= "socialmedia_logo" alt="logoimage"></div>
              <div class="footer_socialmedialogo"><img src="images/icons8-facebook-64.png" class= "socialmedia_logo" alt="logoimage"></div>
             <div class="footer_socialmedialogo"><img src="images/icons8-linkedin-64.png" class= "socialmedia_logo" alt="logoimage"></div>
             <div class="footer_socialmedialogo"><img src="images/icons8-twitter-circled-64.png" class= "socialmedia_logo" alt="logoimage"></div>
            </div>
            <div class="footer_htmllinks">
              <p>LINK</p>
              <p>LINK</p>
              <p>LINK</p>
              <p>LINK</p>
              <p>LINK</p>
             </div>
             <div class="footer_htmllinks">
              <p>LINK</p>
              <p>LINK</p>
              <p>LINK</p>
              <p>LINK</p>
              <p>LINK</p>
             </div>
             <div class="footer_htmllinks">
              <p>LINK</p>
              <p>LINK</p>
              <p>LINK</p>
              <p>LINK</p>
              <p>LINK</p>
             </div>
         </div>
      </div>
      <div class="col-sm-6">
        <div class="contact">
          <h4>CONTACT US</h4>
            <!--contact form-->
        <form>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="NAME" aria-label="NAME" aria-describedby="button-addon2">
            
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="COMPANY NAME" aria-label="COMPANY NAME" aria-describedby="button-addon2">
            
          </div>
          <div class="mb-3">
            
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="EMAIL ID">
          </div>
          
          
          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-4 pt-1">Types of ENQUIRE</legend>
            <div class="col-sm-8">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  EVENT SPONSORSHIP AND PATNERSHIP
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  SPORTS SPONSORSHIP AND PATNERSHIP
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" >
                <label class="form-check-label" for="gridRadios3">
                  SOCIAL MEDIA MANAGEMENT
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                <label class="form-check-label" for="gridRadios4">
                  MEDICAL 
                </label>
              </div>
            </div>
          </fieldset>
          <div class="mb-3">
           
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" aria-label="MESSAGE" placeholder="MESSAGE"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form></div>
        </div>
        
    </div>
   
  </footer>
  
</body>
</html>