<!doctype html>
<html> 
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutordetails.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&display=swap" rel="stylesheet">

<title> IP tutorials </title>
</head>
<body >
    <div id="nav" >
        <p><img src=''width="30" height="30">IP tutorials</p>
        <ul>
            <li style="text-align:right;"> <a href="{{ url_for('admindashboard') }}"> Home </a></li>
            <div class="dropdown">
                <button class="dropbtn">Information
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="{{ url_for('tutorcourses') }}">Courses</a>
                  <a href="{{ url_for('projectdetails') }}">Projects</a>
                  <a href="{{ url_for('studentdetails') }}">Students</a>
                  <a href="{{ url_for('tutordetails') }}">Tutors</a>
                
                 
                
                </div></div>
                <div class="dropdown">
                    <button class="dropbtn">Other
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                    
                      <a href="{{ url_for('adminsupportpage') }}">Support</a>
                      <a href="{{ url_for('payment') }}">Payments</a>
                      <a href="{{ url_for('courserequests') }}">Requests</a>
               
                    </div></div>
                    
                    <li style="text-align:right;">   <a href="{{ url_for('logout') }}">Log out</a></li>
        </ul>
    </div>
 <!-- <div id="background"> -->
 <section>
     <div id="header" style="margin-bottom: 10%;">
<div id="headertext">Tutor details</div>
 </div>
</section  ><div style="margin-bottom:10%;height:800px">
<div class="left">
  <table style="margin-left:5%;margin-bottom: 10%;">
    {% for tutor in tutor %}
      <tr>
        <td><h3>Name:</h3></td>
        <td>{{tutor.firstname}} {{tutor.surname}}</td>
       
 {% endfor %}
    </tr>
    <tr> {% for course in course %}
      <td style="display: inline-block; "><h3>Courses:</h3></td>
      <td>{{course.name}}
     </td>
     {% endfor %}

  </tr>
  <tr>
    <td style="display: inline-block;" ><h3>Projects:</h3></td>
    <td> {% for project in project %}
        {{project.name}}</td>
   
{% endfor %}
</tr>

<tr> {% for student in student %}
    <td><h3>Student's enrolled:</h3></td>
    <td>{{student.firstname}} {{student.surname}}</td>
   
{% endfor %}
</tr>
  


  </table>
  
  
</div>

    
    <div  class="right" style="text-align: right" ><img src="{{url_for('static', filename='images/blank-profile-picture-973460_640.png')}}" height='100' width='100'style="margin-right:5%"></div></div>
</div>
<div style="background-color: #d4d4d4;">
    <footer style="background-color: #d4d4d4;">
      <div style="position:relative;background-color:#d4d4d4" class="footer" id="footer">
        <div class="logo">
          <p style="font-size: 10pt;"><img src=' ' width="30" height="30" align="left" style="display: inline-block;">IP tutorials</p>
        </div>
        <div class="column">
          <h3>Pages</h3>
          <p>Link</p>
          <p>Link</p>
          <p>Link</p>
          <p>Link</p>
        </div>
        <div class="column">
          <h3>Pages</h3>
          <p>Link</p>
          <p>Link</p>
          <p>Link</p>
          <p>Link</p>
  
        </div>
        <div class="column">
          <h3>Pages</h3>
          <p>Link</p>
          <p>Link</p>
          <p>Link</p>
          <p>Link</p>
        </div>
      </div>
    </footer>
  </div>

</body>
</html>